<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Personal Website</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<body>
<h4>Quotes of Ethics</h4>
<br><br><br>

<p>"We become builders by building. ~ Aristotle</p>

<p>“Be yourself; everyone else is already taken.” ~ Oscar Wilde</p>

<p>“Man is the only creature who refuses to be what he is.” ~ Albert Camus</p>

<p>“There is nothing either good or bad, but thinking makes it so.” ~ William Shakespear, Hamlet</p>

<p>The only true wisdom is in knowing you know nothing. ~ Socrates</p>

</body>
</html>
