<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Personal Website</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<body>
<h1>Useful PowerShell Scripts</h1>
<h4>These are some scripts I have used to help with task sequences, automation, or for making things easy.</h4>
<br><br>
<h1>Password Reset GUI</h1>
<p>Simple GUI for me to reference an OU in Active Directory to reset the passwords for those users. This saves time in trying to search through Active Directory
several times a day.</p>
<blockquote>
  <pre>
    <code>
        {{snippet1}}
    </code>
  </pre>
</blockquote>
<h1>Copy Shortcuts to Public Desktop</h1>
<p>This script was used in some task sequences for SCCM to copy application shortcuts (Outlook, Excel, etc.) to the public desktop for all users.</p>
<blockquote>
  <pre>
    <code>
        {{snippet2}}
    </code>
  </pre>
</blockquote>
<h1>Check for BIOS Password and Remove</h1>
<p>This script uses DellSMBIOS to check for a BIOS password and attempts to remove it. It needs an existing BIOS password, and at the time we
were unsure of what it was and so tried a few possibilities. This also creates a new local admin account.</p>
<blockquote>
  <pre>
    <code>
        {{snippet3}}
    </code>
  </pre>
</blockquote>

<h1>Crypto Checker: CoinGeckoAPI</h1>
<p>This script uses a crypto API to reference prices of crypto currency. This wasn't for work: it was just made for fun and to check crypto prices if I was too lazy to google it.</p>
<blockquote>
  <pre>
    <code>
        {{snippet4}}
    </code>
  </pre>
</blockquote>

</body>
</html>
