<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Personal Website</title>
<meta name="viewport" content="width=device-width,initial-scale=1">

<body>

<h1>Aytekin Oldac</h1>
Computer Scientist with strong background in programming logic and networking. Problem solving is something I do on a daily basis and strive to do better in it since it applies to everything.

<h1>Work Experience</h1>


<b>Systems Technician</b><br>
Summit Technology Group - Mechanicsburg, PA<br>
January 2021 to present<br><br>
<!--insert work info here -->
&bull; Automate installations using Powershell in Automox <br>
&bull; Work with multiple banks across the country using cloud infrastructure
<br><br>

<b>Computer Technician</b><br>
York County School of Technology - York, PA<br>
March 2021 to January 2022<br><br>

&bull; Answer phone calls and complete tickets<br>
&bull; Troubleshoot hardware and software issues<br>
&bull; Troubleshoot network issues<br>
&bull; PowerShell and Python scripting for automation<br>
&bull; Basic administration<br>
&bull; SCCM Administration<br>
&bull; Office365<br>
<br><br>

<b>Computer Support Specialist Intern</b><br>
Dauphin County Information Technology<br>
August 2018 to September 2020<br><br>


&bull; Handle phone calls and customer tickets<br>
&bull; Work on all layers and troubleshoot OSI model<br>
&bull; Work with Excel and Word and other Office applications<br>
&bull; Install software and debug issues in code<br>
&bull; Experience in managing County database systems through SQL server manager<br>
&bull; Basic Systems Administration skills through Active Directory<br>
<br><br>

<b>Computer Tech Intern</b><br>
Penn Manor High School - Manor, PA<br>
June 2017 to August 2017<br><br>


&bull; Consult with and assist computer operators or system analysts to resolve problems in computer programs<br>
&bull; Consult with managerial and technical personnel to clarify program intent, identify problems, or suggest changes<br>
&bull; Converse with customers to determine details of equipment problems<br>
&bull; Reassemble machines/computers after making repairs or replacing parts<br>
&bull; Reinstall software programs or adjust settings to preexisting applications to fix malfunctions<br>
&bull; Test new systems to ensure they are in working order<br>
&bull; Assemble machines according to specifications, using hand or power tools and measuring devices<br>
&bull; Maintain records of maintenance work or repairs<br>
&bull; Install and configure new equipment, including software<br>
&bull; Maintain parts inventories and order any additional parts needed for repairs<br>
&bull; Disassemble machines to examine parts such as wires, circuits, or bearings using hand tools or powertools<br>
&bull; Collaborate with a group of people to isolate specific problems with computers such as software<br>
<br><br>

<h1>Education</h1>
•AB and Calculus BC exams in Computer Science<br>
•Penn State Harrisburg - Middletown, PA August 2017 to December 2021<br>
•Bachelor's degree in Computer Science<br>
•High School Diploma Penn Manor High School - Millersville, PA August 2013 to June 2017<br>
<br><br>

<h1>Skills</h1>
• JavaScript<br>
• CSS<br>
• UI<br>
• Analysis skill<br>
• HTML5<br>
• Computer networking<br>
• Help desk<br>
• SCCM<br>
• Windows<br>
• Active Directory<br>
• SQL<br>
• Software Troubleshooting<br>
• Microsoft SQL Server<br>
• Java<br>
• LAN<br>
• Technical Support<br>
• Microsoft Windows Server<br>
• Linux<br>
• Operating Systems<br>
• MySQL<br>
• TCP/IP<br>
• Debugging<br>
• Network Support<br>
• Time management<br>
• Customer service<br>
• Microsoft Office<br>
• Git<br>
• ServiceNow<br>
• DNS<br>
• DHCP<br>
• Python<br>
<br><br><br><br>
</body>
</html>
