<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<meta charset="UTF-8">
<title>Personal Website</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<body>
<h1>NASberry - Raspberry Pi NAS Server</h1>
<p>NAS (Network Attached Storage) is pretty easy to do with a raspberry pi and an old laptop drive sitting around. This
guide will walk you through on creating your own NASberry Pi.</p>

<blockquote>
  <pre>
    <code>
        {{snippet1}}
    </code>
  </pre>

</blockquote>
</body>
