<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Personal Website</title>
<meta name="viewport" content="width=device-width,initial-scale=1">

<body>
<div id="intro" style="align-content: center;" >
  <h1>Aytekin Oldac</h1>
  <h4>About Me</h4>
  <p>Hi, my name is Aytekin and I have a huge passion for programming and cyber security. I currently am a Systems Technician for Summit Technology Group.
    I currently have my bachelor's degree in Computer Science with focus on Information Technology and Security. My day to day routine at work involves troubleshooting and writing code,
    mainly PowerShell. I am always willing to learn new things and new languages or libraries. In fact, this website was made using AngularCLI
    and Typescript.</p>
  <h4>Programming Languages</h4>
  <div class="listFlex">
    <div>
      <ul>
        <li>Java</li>
        <li>HTML</li>
        <li>SQL</li>
        <li>Python</li>
        <li>Rust</li>
        <li>MIPS ASM</li>
      </ul>
    </div>
    <div>
      <ul>
        <li>JavaScript</li>
        <li>C++</li>
        <li>C#</li>
        <li>PowerShell</li>
        <li>6502 ASM</li>
      </ul>
    </div>
  </div>
  <h4>Skills</h4>
  <div class="listFlex">
    <div>
      <ul>
        <li style="text-align: left">PC Building</li>
        <li style="text-align: left">Software Troubleshooting</li>
        <li style="text-align: left">Networking</li>
        <li style="text-align: left">Ticketing Systems</li>
        <li style="text-align: left">Web Development with Components</li>
        <li style="text-align: left">SCCM/Automox Deployment Software</li>

      </ul>
    </div>
  </div>

  <h4>Topics Learned</h4>
  <p>
    Data Structures
  </p>

  <p>
    Operating Systems
  </p>
  <p>
    Formal Language Theory
  </p>

  <p>
    Compiler Theory
  </p>

  <p>
    Secure Programming
  </p>

  <p>
    Computer Graphics Algorithms
  </p>

</div>

<img style=" width: 300px; height: 400px; display: block; margin: 0 auto;" src="./assets/raven.jpg">
<blockquote style="margin: 0 auto">"We are what we repeatedly do. Excellence is not an act, but a habit." ~ Aristotle </blockquote>

<br><br><br><br><br><br><br><br>
</body>
</html>
